html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: blueviolet;
}
button {
    
    height: 40px;
    width:70px;
    cursor:pointer;
    transition: all .5ms ease-in-out;
    margin: 20px;
    border-radius: 2px;
    color: white;
    border: 5px solid white;
    text-align: center ;
 
}

h1{
    color: white;
    text-align: center;
}
ul {  display: flex; 
margin-right: 50px;
justify-content: space-between;
}